body{
    display: flex;
    justify-content: center;
    background-color: black;
}

.container-one{
    display: flex;
    justify-content: space-around;
}


#button-container{
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;
}

.square-container {
        background-color: #ccc;
        width: 100px;
        height: 100px;
}

@media screen and (max-width: 400px) {
    body {
      
    }
    .square-container {
        background-color: #ccc;
        width: 70px;
        height: 70px;
}
    
  }
